.c-nav-link {
  --nav-link-padding-x: #{$nav-link-padding-x};
  --nav-link-padding-y: #{$nav-link-padding-y};
  --nav-link-color: #{$nav-link-color};
  --nav-link-hover-color: #{$nav-link-hover-color};
  --nav-link-font-size: #{$nav-link-font-size};
  --nav-link-font-weight: #{$nav-link-font-weight};

  display: block;
  color: var(--nav-link-color);
  padding: var(--nav-link-padding-y) var(--nav-link-padding-x);
  font-size: var(--nav-link-font-size);
  font-weight: var(--nav-link-font-weight);
  text-decoration: none;
  background: none;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;

  &.is-active {
    font-weight: 700;
  }

  &:hover,
  &:focus {
    color: var(--nav-link-hover-color);
  }

  &__skip {
    position: absolute;
    transform: translateY(-120%);
    padding: $spacing-16;
    top: 0;
    left: 0;
    transition: transform 0.15s ease-in-out;

    &:focus {
      transform: translateY(0);
    }
  }
}
